*{
	background-color:burlywood;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

h1{
	text-align: center;
	font-family:
}

figure{
    margin-left: 5px;
	margin-bottom: 0px;
    margin-top: 0px;
	margin-right: 0px;
}

section{
   	position:sticky;
  	margin-left: 3px;
	margin-bottom:25px;
	padding: 5px;
  	max-width: 100%;
  	font-size: 16px;
	border-style: solid;
	border-radius:20px; 
    border-color:darkgreen;
}

section:before{
	content: "";
  	position: absolute;
    left: 35px;
  	bottom: -42px;
  	border: 20px solid transparent;
  	border-top:20px solid darkgreen;
}

div{
   	position:sticky;
  	margin-left: 3px;
	margin-bottom:25px;
	padding: 5px;
  	max-width: 100%;
  	font-size: 16px;
	border-style: solid;
	border-radius:10px; 
    border-color:darkgreen;
}

div:before{
	content: "";
  	position: absolute;
    left: 325px;
  	bottom: -42px;
  	border: 20px solid transparent;
  	border-top:20px solid darkgreen;
}


iframe{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
	margin-right: 50px;
}

nav li{
	margin: 0px 210px;
	display: inline-block;
	color: black;
	width: 165px;
  	height: 30px;
	line-height: 30px;
	border-radius: 10px;
  	border:solid 2px brown;
	text-align: center;
}

.making{
	padding: 10px 10px;
}

.popup1:focus,.popup1:active{
	position:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-left:5px;
    height: auto;
	max-width:580px;
}

.popup1{
	height: 200px;
    width:auto;
    cursor: pointer;
    display: inline;
	margin-left: 5px;
}

.popup2:focus,.popup2:active{
	position:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-left:25px;
    height: auto;
	max-width:580px;
}

.popup2{
	height: 200px;
    width:auto;
    cursor: pointer;
    display: inline;
	margin-left: 25px;
}

.popup3:focus,.popup2:active{
	position:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-left:25px;
    height: auto;
	max-width:580px;
}

.popup3{
	height: 140px;
    width:auto;
    cursor: pointer;
    display: inline;
	margin-left: 25px;
}

.video{
	margin-left: 32px;
    margin-top: 5px;
}

.kyara{
	margin-left: 10px;
}

.twe{
    margin-left: 285px;
}

.three{
    margin-left: 250px;
}

.game{
    margin-left: 52px;
}

.titl{
    margin-left: 30px;
}

h2{
	margin:0px 10px;
}

video{
	margin-left: 30px;
}

h3{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

p{
	margin: 0px 0px;
	padding: inherit
}

ul{
	margin: 0px 0px;
}