body {
  background-color: beige;
  margin: 0;
}

h1 {
  margin-top: 0;
}

h1 span {
  font-size: 0.5em;
}

div#container {
  width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

img {
  border: solid 0.5px;
}

a img {
  width: 300px;
}

.abstract {
  display: flex;
}

.abstract img {
  height: 250px;
}

^